<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings-->
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.url">jdbc:hsqldb:data/pokewikidb</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>
		<!-- JDBC connection pool (use the built-in)-->
		<property name="connection.pool_size">1</property>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<!-- Enable Hibernate's current session context-->
		<property name="current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout-->
		<property name="show_sql">true</property>
		<property name="hibernate.search.default.directory_provider"/>
		<property name="hibernate.search.default.indexBase" />
		<property name="hbm2ddl.auto">create-drop</property>
		<!-- Mapping files-->
		<mapping class="dad.models.estructura.Pokemon"/>
		<mapping class="dad.models.estructura.Tipo"/>
		<mapping class="dad.models.estructura.Evolucion"/>
		<mapping class="dad.models.estructura.Movimiento"/>
	</session-factory>
</hibernate-configuration>