.pokedex {
    -fx-background-color: transparent;
    -fx-background-image: url("../image/pokedex/PokeDex.png");
    -fx-background-repeat: stretch;
    -fx-background-position: left top;
}

.screen {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.scroll-pane.content {
    -fx-content-display: 30px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.numscreen {
    -fx-background-radius: 15px;
    -fx-background-color: linear-gradient(green, darkgreen);
    -fx-border-insets: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0)
}

.numPokedex {
    -fx-background-radius: 15px;
    -fx-background-color: white;
    -fx-font-family: sans-serif;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.closeButton {
    -fx-background-image: url("../image/pokedex/closeButton.png");
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.closeButton:pressed {
    -fx-background-image: url("../image/pokedex/closeButton-pressed.png");
    -fx-translate-y: 3;
}

.closeButton:pressed {
    -fx-text-fill: #400000;
    -fx-translate-y: 2px;
}

.green-console {
    text-area-background: transparent;
    -fx-background-radius: 30px;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-text-fill: #004d00;
    -fx-font-size: 15px;
}

.green-console .content {
    -fx-background-radius: 30px;
    -fx-background-color: green;
    -fx-padding: 15px;
}

.green-console .scroll-pane {
    -fx-background-radius: 30px;
    -fx-background-color: green;
    -fx-padding: 15px;
    -fx-vbar-policy: never;

}

.green-console .scroll-pane .viewport {
    -fx-background-radius: 30px;
    -fx-background-color: green;
    -fx-padding: 15px;
}

.green-console .scroll-pane .content {
    -fx-background-radius: 30px;
    -fx-background-color: green;
    -fx-padding: 15px;
}

.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.red-button {
    -fx-background-radius: 100%;
    -fx-background-color: red;
}

.red-button:pressed {
    -fx-background-color: #bf0000;
    -fx-translate-y: 2px;
}

.blue-button {
    -fx-background-radius: 100%;
    -fx-background-color: blue;
}

.blue-button:pressed {
    -fx-background-color: darkblue;
    -fx-translate-y: 2px;
}

.v-cruceta {
    -fx-background-image: url("../image/pokedex/v-gamepad.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.v-cruceta:pressed {
    -fx-background-image: url("../image/pokedex/v-gamepad-pressed.png");
    -fx-translate-y: 3;
}

.h-cruceta {
    -fx-background-image: url("../image/pokedex/h-gamepad.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.h-cruceta:pressed {
    -fx-background-image: url("../image/pokedex/h-gamepad-pressed.png");
    -fx-translate-y: 3;
}

.search-button {
    -fx-background-image: url("../image/pokedex/searchImg.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.search-button:pressed {
    -fx-background-image: url("../image/pokedex/searchImg-pressed.png");
    -fx-translate-y: 3;
}

.search-bar {
    /*-fx-background-color: green;*/
    -fx-background-radius: 30px;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-text-fill: #004d00;
    -fx-font-size: 15px;
}

.nombre-pokemon {
    -fx-font-family: Consolas;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.screen-text {
    -fx-font-family: Consolas;
    -fx-font-size: 14;
    -fx-font-weight: bolder;
    -fx-opacity: 1.0;
}

.type-label {
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-border-width: 2.5px;
}
.evolution-view:hover {
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: darkred;
    -fx-cursor: hand;
}
.evolution-view:hover .screen-text {
    -fx-font-weight: bold;
    -fx-font-style: Italic;
    -fx-text-fill: darkred;
}
.evo-method-arrow {
    -fx-background-image: url("../image/pokedex/evo-arrow.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.check-box>.box {
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 10
}

.check-box>.box>.mark {
    -fx-background-image: url("../image/pokedex/unmute.png");
    -fx-background-size: cover;
    -fx-shape: none;
    -fx-padding: 20 20 20 20

}

.check-box:selected>.box>.mark{
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url("../image/pokedex/mute.png");
}